@media (min-width: 320px) and (max-width: 990px)
  .fv-chart
     border-bottom-left-radius 3px
     border-top-right-radius 0px
  .header-fv
      border-top-right-radius 3px
  .triangle-ind
    &:after
      border-color none
      border-style none

  .text-ticker
    padding-bottom 10px
