


<div class="row" style="max-width:1200px; margin:0 auto;">

  <div class="col-md-12">
      <div class="col-md-6">
        <img style="float: left;" alt="Logo" src="img/banner.png" responsive/>
    </div>
    
    <div class="col-md-6 ">
        <img style="float: right;" alt="Banner" src="img/logo.jpg" />
    </div>
  </div>

    <div class="col-md-7">
        
        <div class="clearfix"></div>
        <br>
        <p class="userWelcome">
            Bienvenido <b>{{user.nombre}}  {{user.apellidos}}</b>
        </p>
        <p class="registerDateLimit">
            Fecha límite para registrar tus boletos: <span class="textoInfoBoletos">03 Marzo de 2017</span>
        </p>
    </div>
    
</div>


<div class="row" style="max-width:1200px; margin:0 auto;">

    <div class="col-md-12">
            
            <a ng-disabled="isEnabledDownload" class="btn btn-primary" href="http://celebrausana.com/export_csv.php" >Exportar</a>

    


             <button class="btn btn-primary" role="button"  data-toggle="modal" data-target="#myModalTitular" >Agregar titular</button>

             

    
        <div class="loginBox" style="margin-top:20px;">

            <div class="loginBoxHeader">
                <i class="fa fa-ticket" aria-hidden="true"></i> Vendedores

            </div>
            <div class="loginBoxBody">
               
  
                <br>
                
                <span class='arrow-left glyphicon glyphicon-chevron-left gi-2x'></span>
                <span class='arrow-right glyphicon glyphicon-chevron-right gi-2x'></span>
              <div class="table-responsive">
              <p>Busqueda: <input class="" type="text" ng-model="filter.$" /></p>
               <table ng-table="tableParams" class="table" >
                    <tbody ng-repeat="group in $groups"  ng-init="group.$hideRows = true">
                    <tr class="ng-table-group success"  ng-dblClick="showDataTickets(group)">
                        <td >
                            <ul class="list-inline">
                                <li>
                                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                                
                                        <strong>{{ group.value }}</strong>
                                    </a>
                                </li>
                                
                            </ul>
                            
                             
                        </td>
                       
                        <td data-title="'Nombre'" sortable="'nombre'" filter="{ nombre: 'text'}">
                            <span class="" ng-if="!group.$edit">{{group.data[0].nombred}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].nombred" /></div>
                        </td>
                        <td data-title="'Apellidos'" sortable="'apellidos'" filter="{ apellidos: 'text'}">
                            <span class="" ng-if="!group.$edit">{{group.data[0].apellidosd}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].apellidosd" /></div>
                        </td>
                        <td data-title="'Ciudad'" sortable="'ciudad'" filter="{ ciudad: 'text'}">
                            <span class="" ng-if="!group.$edit">{{group.data[0].ciudadd}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].ciudadd" /></div>
                        </td>
                        <td data-title="'Estado'" sortable="'estado'" filter="{ estado: 'text'}">
                            <span class="" ng-if="!group.$edit">{{group.data[0].estadod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].estadod" /></div>
                        </td>
                        <td data-title="'Teléfono'" sortable="'telefono'" filter="{ telefono: 'text'}">
                            <span class="" ng-if="!group.$edit" >{{group.data[0].telefonod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].telefonod" /></div>
                        </td>
                        <td data-title="'E-Mail'" sortable="'email'" filter="{ email: 'text'}">
                            <span class="" ng-if="!group.$edit">{{group.data[0].emaild}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].emaild" /></div>
                        </td>
                        <td data-title="'Numero orden'" sortable="'noOrden'" filter="{ noOrden: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].noOrdend}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].noOrdend" /></div>
                        </td>
                        <td data-title="'#'" sortable="'numBoletos'" filter="{ numBoletos: 'text'}">
                            
                            <div id="squareCount{{group.data[0].idUsuario}}" ng-if="!group.$edit" class="row pull-right" 
                            style="{{group.data[0].estatusd == 1 ? 'max-width:100px;background-color: green;margin-right:5px;': (group.data[0].numBoletosd === group.data[0].vendidos && group.data[0].imagen =='') ? 'max-width:100px;background-color: green;margin-right:5px;':'max-width:100px;background-color: red;margin-right:5px;'}}">
                                <div class="col-md12 col-xs-12 col-sm-12 text-center" >
                                    <h5 style="margin:0;padding:0" ><span id="nboletos{{group.data[0].idUsuario}}" style="color:white;font-weight:bold">{{group.data[0].numBoletosd}}</span></h5>
                                </div> 
                                <div class="col-md5 col-xs-5 col-sm-5 text-center" style="margin:0;padding:0">
                                    <h5 style="margin:0;padding:0" ><span id="asignados{{user.idUsuario}}" style="color:white;font-weight:bold">{{group.data[0].vendidos}}</span></h5>
                                </div>
                                <div class="col-md2 col-xs-2 col-sm-2 text-center" style="margin:0;padding:0">
                                    <h5 style="margin:0;padding:0" ><span style="color:white;font-weight:bold">-</span></h5>
                                </div>
                                <div class="col-md5 col-xs-5 col-sm-5 text-center" style="margin:0;padding:0">
                                    <h5 style="margin:0;padding:0" ><span id="disponibles{{user.idUsuario}}"  style="color:black;font-weight:bold">{{group.data[0].numBoletosd - group.data[0].vendidos}}</span></h5>
                                </div>
                            </div>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].numBoletosd" /></div>
                        </td>

                        <td data-title="'Rango'" sortable="'rango'" filter="{ rango: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].rangod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].rangod" /></div>
                        </td>

                         <td data-title="'Avance de rango'" sortable="'avanceRango'" filter="{ avanceRango: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].avanceRangod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].avanceRangod" /></div>
                        </td>

                        <td data-title="'Motivador platino'" sortable="'motivadorPlatino'" filter="{ motivadorPlatino: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].motivadorPlatinod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].motivadorPlatinod" /></div>
                        </td>

                        <td data-title="'Moytivador platino premier'" sortable="'motivadorPlatinoPremier'" filter="{ motivadorPlatinoPremier: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].motivadorPlatinoPremierd}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].motivadorPlatinoPremierd" /></div>
                        </td>

                        <td data-title="'Ejecutivo'" sortable="'ejecutivo'" filter="{ ejecutivo: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].ejecutivod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].ejecutivod" /></div>
                        </td>

                        <td data-title="'CHF'" sortable="'chf'" filter="{ chf: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].chfd}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].chfd" /></div>
                        </td>

                        <td data-title="'Transferencia'" sortable="'transferencia'" filter="{ transferencia: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].transferenciad}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].transferenciad" /></div>
                        </td>

                         <td data-title="'Acceso al entranamiento'" sortable="'accesoEntrenamiento'" filter="{ accesoEntrenamiento: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].accesoEntrenamientod}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].accesoEntrenamientod" /></div>
                        </td>

                         <td data-title="'Acceso a sala ejecutiva'" sortable="'accesoSalaEjecutiva'" filter="{ accesoSalaEjecutiva: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].accesoSalaEjecutivad}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].accesoSalaEjecutivad" /></div>
                        </td>

                        <td data-title="'Observaciones'" sortable="'observaciones'" filter="{ observaciones: 'text'}">
                            <span   class=""  ng-if="!group.$edit">{{group.data[0].observacionesd}}</span>
                             <div ng-if="group.$edit"><input class="form-control" type="text" ng-model="group.data[0].observacionesd" /></div>
                        </td>
                        <td data-title="'Color'" sortable="'color'" filter="{ color: 'text'}">
                            <span   class=""  ng-if="!group.$edit"></span>
                             
                        </td>

                        <td data-title="'Acciones'" >
                            <a  ng-if="(group.data[0].numBoletosd === group.data[0].vendidos)" href="" class="btn btn-default btn-xs" ng-disabled="group.data[0].numBoletosd === group.data[0].vendidos"  >Asigna Boleto</a>

                            <a  href="" class="btn btn-default btn-xs" ng-if="!(group.data[0].numBoletosd === group.data[0].vendidos)" ng-click="putIdTitular(group.data[0].role) " data-toggle="modal" data-target="#myModalAsigna">Asigna Boleto</a>

                            <a ng-if="!group.$edit" href="" class="btn btn-default btn-xs" ng-click="group.$edit = true;">Edita titular</a>

                            <a ng-if="group.$edit" href="" class="btn btn-primary btn-xs" ng-click="group.$edit = false;updateUser(group.data[0]);">Guarda</a>
                            <a  href="" class="btn btn-default btn-xs"  role="button"  data-toggle="modal" data-target="#myModalConfirmar" ng-click="selecTitular(group.data[0].role);">Borrar titular</a>
                            
                            
                        </td>

                    </tr>
                   <tr  ng-hide="group.$hideRows" ng-repeat="user  in group.data"  >
                        <td data-title="'Id'"    sortable="'id'" filter="{ id: 'text'}">
                            <span class=""   ng-if="!user.$edit">{{user.foliom}}</span>

                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.foliom"  /></div>
                        </td>
                        <td data-title="'Nombre'" sortable="'nombre'" filter="{ nombre: 'text'}">
                            <span class="" ng-if="!user.$edit">{{user.nombre}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.nombre" /></div>
                        </td>
                        <td data-title="'Apellidos'" sortable="'apellidos'" filter="{ apellidos: 'text'}">
                            <span class="" ng-if="!user.$edit">{{user.apellidos}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.apellidos" /></div>
                        </td>
                        <td data-title="'Ciudad'" sortable="'ciudad'" filter="{ ciudad: 'text'}">
                            <span class="" ng-if="!user.$edit">{{user.ciudad}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.ciudad" /></div>
                        </td>
                        <td data-title="'Estado'" sortable="'estado'" filter="{ estado: 'text'}">
                            <span class="" ng-if="!user.$edit">{{user.estado}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.estado" /></div>
                        </td>
                        <td data-title="'Teléfono'" sortable="'telefono'" filter="{ telefono: 'text'}">
                            <span class="" ng-if="!user.$edit" >{{user.telefono}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.telefono" /></div>
                        </td>
                        <td data-title="'E-Mail'" sortable="'email'" filter="{ email: 'text'}">
                            <span class="" ng-if="!user.$edit">{{user.email}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.email" /></div>
                        </td>
                        <td data-title="'Numero orden'" sortable="'noOrden'" filter="{ noOrden: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.noOrden}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.noOrden" /></div>
                        </td>
                        <td data-title="'#'" sortable="'numBoletos'" filter="{ numBoletos: 'text'}">
                                                     
                        </td>
                        <td data-title="'Rango'" sortable="'rango'" filter="{ rango: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.rango}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.rango" /></div>
                        </td>
                        <td data-title="'Avance de rango'" sortable="'avanceRango'" filter="{ avanceRango: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.avanceRango}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.avanceRango" /></div>
                        </td>
                        <td data-title="'Motivador platino'" sortable="'motivadorPlatino'" filter="{ motivadorPlatino: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.motivadorPlatino}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.motivadorPlatino" /></div>
                        </td>
                        <td data-title="'Moytivador platino premier'" sortable="'motivadorPlatinoPremier'" filter="{ motivadorPlatinoPremier: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.motivadorPlatinoPremier}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.motivadorPlatinoPremier" /></div>
                        </td>
                        <td data-title="'Ejecutivo'" sortable="'ejecutivo'" filter="{ ejecutivo: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.ejecutivo}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.ejecutivo" /></div>
                        </td>
                        <td data-title="'CHF'" sortable="'chf'" filter="{ chf: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.chf}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.chf" /></div>
                        </td>
                        <td data-title="'Transferencia'" sortable="'transferencia'" filter="{ transferencia: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.transferencia}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.transferencia" /></div>
                        </td>
                        <td data-title="'Acceso al entranamiento'" sortable="'accesoEntrenamiento'" filter="{ accesoEntrenamiento: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.accesoEntrenamiento}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.accesoEntrenamiento" /></div>
                        </td>
                        <td data-title="'Acceso a sala ejecutiva'" sortable="'accesoSalaEjecutiva'" filter="{ accesoSalaEjecutiva: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.accesoSalaEjecutiva}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.accesoSalaEjecutiva" /></div>
                        </td>

                        <td data-title="'Observaciones'" sortable="'observaciones'" filter="{ observaciones: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.observaciones}}</span>
                            <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.observaciones" /></div>

                        </td>
                        <td data-title="'Color'" sortable="'color'" filter="{ color: 'text'}">
                            <span   class=""  ng-if="!user.$edit">{{user.color}}</span>
                             <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.color" /></div>
                        </td>
                        
                        <td data-title="'Acciones'" >
                            <img    ng-if="user.imagen!=''" class="img-thumbnail" ng-src="uploads/{{user.imagen}}" ng-click="showImage(user.imagen,user);" role="button"  data-toggle="modal" data-target="#myModalImage" style="width: 30px;height: 20px">
                            <img    ng-if="user.imagen2!=''" class="img-thumbnail" ng-src="uploads/{{user.imagen2}}" ng-click="showImage(user.imagen2,user);" role="button"  data-toggle="modal" data-target="#myModalImage" style="width: 30px;height: 20px">

                            <a ng-if="!user.$edit" href="" class="btn btn-default btn-xs" ng-click="user.$edit = true">Edita</a>
                            <a  href="" class="btn btn-default btn-xs"  role="button"  data-toggle="modal" data-target="#myModalConfirmarDeleteTicket" ng-click="selectTiecketDelete(user.folio);">Borrar</a>
                            <a ng-if="user.$edit" href="" class="btn btn-primary btn-xs" ng-click="user.$edit = false;updateDataTicket(user,'ticket');">Guarda</a>
                        </td>
                                </tr>
                    </tbody>
                </table>


             </div>   
            </div>
        </div>
    </div>
</div>

<style>.modal-dialog {width: 90%;} </style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Boletos asignados</h4>
      </div>

        <div class="table-responsive">
              <table ng-table="usersTickets" class="table table-striped" >

                    <!--tr id="tr_{{userTicket.folio}}" ng-repeat="userTicket in data"  style="cursor: pointer;" class="{{(userTicket.nombre === null || userTicket.imagen != null)? 'danger':'success'}}"-->

                    <tr id="tr_{{userTicket.folio}}" ng-repeat="userTicket in data"  style="cursor: pointer;" class="">

                        <input type="hidden" name="id" value="{{userTicket.folio}}">
                        <td data-title="'Id'" sortable="'foliom'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.foliom}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.foliom" /></div>
                        </td>
                        
                         <td data-title="'Nombre'" sortable="'nombre'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.nombre}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.nombre" /></div>
                        </td>

                       
                        <td data-title="'Apellidos'" sortable="'apellidos'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.apellidos}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.apellidos" /></div>
                        </td>

                        <td data-title="'Ciudad'" sortable="'ciudad'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.ciudad}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.ciudad" /></div>
                        </td>
                        
                         <td data-title="'Estado'" sortable="'estado'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.estado}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.estado" /></div>
                        </td>
                        
                        <td data-title="'Teléfono'" sortable="'telefono'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.telefono}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.telefono" /></div>
                        </td>
                        <td data-title="'E-Mail'" sortable="'email'" >
                            <span class="registerDateLimit" ng-if="!userTicket.$editado">{{userTicket.email}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.email" /></div>
                        </td>

                        <td data-title="'Rango'" sortable="'rango'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.rango}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.rango" /></div>
                        </td>

                         <td data-title="'Avance de rango'" sortable="'avanceRango'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.avanceRango}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.avanceRango" /></div>
                        </td>

                        <td data-title="'Motivador platino'" sortable="'motivadorPlatino'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.motivadorPlatino}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.motivadorPlatino" /></div>
                        </td>

                        <td data-title="'Moytivador platino premier'" sortable="'motivadorPlatinoPremier'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.motivadorPlatinoPremier}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.motivadorPlatinoPremier" /></div>
                        </td>

                        <td data-title="'Ejecutivo'" sortable="'ejecutivo'" filter="{ ejecutivo: 'text'}">
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.ejecutivo}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.ejecutivo" /></div>
                        </td>

                        <td data-title="'CHF'" sortable="'chf'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.chf}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.chf" /></div>
                        </td>

                        <td data-title="'Transferencia'" sortable="'transferencia'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.transferencia}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.transferencia" /></div>
                        </td>

                         <td data-title="'Acceso al entranamiento'" sortable="'accesoEntrenamiento'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.accesoEntrenamiento}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.accesoEntrenamiento" /></div>
                        </td>

                         <td data-title="'Acceso a sala ejecutiva'" sortable="'accesoSalaEjecutiva'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.accesoSalaEjecutiva}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.accesoSalaEjecutiva" /></div>
                        </td>

                        <td data-title="'Observaciones'" sortable="'observaciones'" >
                            <span   class="registerDateLimit"  ng-if="!userTicket.$editado">{{userTicket.observaciones}}</span>
                             <div ng-if="userTicket.$editado"><input class="form-control" type="text" ng-model="userTicket.observaciones" /></div>
                        </td>

                        <td data-title="'Acciones'" >
                            
                            <a ng-if="!userTicket.$editado" href="" class="btn btn-default btn-xs" ng-click="userTicket.$editado = true">Edita Boleto</a>
                            
                            <a ng-if="!userTicket.$editado" href="" class="btn btn-default btn-xs" ng-click="deleteDataTicket(userTicket)">Borra</a>
                            
                            <a ng-if="userTicket.$editado" href="" class="btn btn-primary btn-xs" ng-click="userTicket.$editado = 
                            false;updateDataTicket(userTicket);">Actualiza</a>
                        </td>
                    </tr>
                </table>
          </div>      
     
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade"  id="myModalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Documento</h4>
          </div>
          <div class="table-responsive">

            <img ng-src="{{pathImage}}" >
            <br>
            <a href="{{pathImage}}"  download="documento.png">descarga</a>
          </div>
        </div>
    </div>
</div>

<!-- Modal Agrega titular-->
<div class="modal fade"  id="myModalTitular" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar titular</h4>
          </div>
          <div class="table-responsive">
                <form id="userForm" name="titularForm" method="post" enctype="multipart/form-data">
                    
                    <div class="modal-body">
                          <div class="row">
                              <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="nombre">Id</label>
                                        <input  required type="number" class="form-control" id="id" placeholder="Id" ng-model="id">
                                    </div>
                                </div>
                              <div class="col-md-6 ">
                                  <div class="form-group">
                                    <label for="apellidos">Nombre</label>
                                    <input required type="text" class="form-control" id="nombre" placeholder="Nombre" ng-model="nombre">
                                  </div>

                              </div>

                              <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="apellidos">Apellidos</label>
                                        <input  required type="text" class="form-control" id="apellidos" placeholder="Apellidos" ng-model="apellidos">
                                    </div>
                                </div>
                              <div class="col-md-6 ">
                                  <div class="form-group">
                                    <label for="ciudad">Ciudad</label>
                                    <input required type="text" class="form-control" id="ciudad" placeholder="Ciudad" ng-model="ciudad">
                                  </div>

                              </div>
                               <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="estado">Estado</label>
                                        <!--input  required type="text" class="form-control" id="estado" placeholder="Estado" ng-model="estado"-->
                                        <select name="estado" ng-model="estado" required  class="form-control">
                                          <option value="no">Seleccione el estado</option>
                                          <option value="Aguascalientes">Aguascalientes</option>
                                          <option value="Baja California">Baja California</option>
                                          <option value="Baja California Sur">Baja California Sur</option>
                                          <option value="Campeche">Campeche</option>
                                          <option value="Chiapas">Chiapas</option>
                                          <option value="Chihuahua">Chihuahua</option>
                                          <option value="Coahuila">Coahuila</option>
                                          <option value="Colima">Colima</option>
                                          <option value="Ciudad de México">Ciudad de México</option>
                                          <option value="Durango">Durango</option>
                                          <option value="Estado de México">Estado de México</option>
                                          <option value="Guanajuato">Guanajuato</option>
                                          <option value="Guerrero">Guerrero</option>
                                          <option value="Hidalgo">Hidalgo</option>
                                          <option value="Jalisco">Jalisco</option>
                                          <option value="Michoacán">Michoacán</option>
                                          <option value="Morelos">Morelos</option>
                                          <option value="Nayarit">Nayarit</option>
                                          <option value="Nuevo León">Nuevo León</option>
                                          <option value="Oaxaca">Oaxaca</option>
                                          <option value="Puebla">Puebla</option>
                                          <option value="Querétaro">Querétaro</option>
                                          <option value="Quintana Roo">Quintana Roo</option>
                                          <option value="San Luis Potosí">San Luis Potosí</option>
                                          <option value="Sinaloa">Sinaloa</option>
                                          <option value="Sonora">Sonora</option>
                                          <option value="Tabasco">Tabasco</option>
                                          <option value="Tamaulipas">Tamaulipas</option>
                                          <option value="Tlaxcala">Tlaxcala</option>
                                          <option value="Veracruz">Veracruz</option>
                                          <option value="Yucatán">Yucatán</option>
                                          <option value="Zacatecas">Zacatecas</option>
                                      </select>
                                    </div>
                                </div>
                              <div class="col-md-6 ">
                                  <div class="form-group">
                                    <label for="telefono">Teléfono</label>
                                    <input required type="text" class="form-control" id="telefono" placeholder="Teléfono" ng-model="telefono">
                                  </div>

                              </div>
                              <div class="col-md-6 ">
                                    <div class="form-group"  ng-class="{ 'has-error': titularForm.email.$invalid }">
                                        <label for="email">Email</label>
                                        <input  required type="email" class="form-control" id="email" placeholder="Correo" ng-model="email">
                                    </div>
                                </div>
                              <div class="col-md-6 ">
                                  <div class="form-group">
                                    <label for="noOrden">No orden</label>
                                    <input required type="number" class="form-control" id="noOrden" placeholder="Número de orden" ng-model="noOrden">
                                  </div>



                              </div>
                               <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label for="numBoletos"># Boletos</label>
                                        <input  required type="number" class="form-control" id="numBoletos" placeholder="Número de boletos" ng-model="numBoletos">
                                    </div>
                                </div>
                             
                          </div>
             </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="" data-dismiss="modal" >Cerrar</button>
                    <button type="button" id="btnSaveTitular" class="btn btn-primary" ng-click="saveTitutlar();" ng-disabled="titularForm.$invalid" >Guardar</button
                    >
                    
                  </div>
            </form>
            
          </div>
        </div>
    </div>
</div>



<!-- Modal confirma-->
<div class="modal fade"  id="myModalConfirmar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 30%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Borrar titular</h4>
          </div>
          <div class="table-responsive">

          ¿Realmente desea borrar el titular?
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="" data-dismiss="modal" >Cerrar</button>
                    <button type="button" id="btnDeleteTitular" class="btn btn-primary" ng-click="deleteTitutlar();" >Confirmar</button
                    >
                    
                  </div>
            
          </div>
        </div>
    </div>
</div>
<!-- Modal confirma delete Tiecket-->
<div class="modal fade"  id="myModalConfirmarDeleteTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 30%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Borrar titular</h4>
          </div>
          <div class="table-responsive">

          ¿Realmente desea borrar la asignación boleto?
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="" data-dismiss="modal" >Cerrar</button>
                    <button type="button" id="btnDeleteTitular" class="btn btn-primary" ng-click="deleteDataTicket();" >Confirmar</button
                    >
                    
                  </div>
            
          </div>
        </div>
    </div>
</div>




<!-- Modal Asignar Boleto-->
<div class="modal fade" id="myModalAsigna" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAsigna">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelAsigna">Asignar boleto</h4>
      </div>

      <form id="userForm" name="userForm" action="upload.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="folio" value="{{folio}}" ng-model="folio">
        <div class="modal-body">
              <div class="row">
                  <div class="col-md-6 ">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input ng-disabled="showUploadFile" required type="text" class="form-control" id="nombre" placeholder="Nombre" ng-model="nombre">
                        </div>
                        </div>
                  <div class="col-md-6 ">
                      <div class="form-group">
                        <label for="apellidos">Apellidos</label>
                        <input ng-disabled="showUploadFile" required type="text" class="form-control" id="apellidos" placeholder="Apellidos" ng-model="apellidos">
                      </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 ">
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input ng-disabled="showUploadFile" required type="text" class="form-control" id="ciudad" placeholder="Ciudad" ng-model="ciudad">
                          </div>
                    </div>
                  <div class="col-md-6 ">
                      <div class="form-group">
                        <label for="estado">Estado</label>
                        <!--<input ng-disabled="showUploadFile" required type="text" class="form-control" id="estado" placeholder="Estado" ng-model="estado">-->
                        <select name="estado" ng-model="estado" required  class="form-control">
                          <option value="no">Seleccione el estado</option>
                          <option value="Aguascalientes">Aguascalientes</option>
                          <option value="Baja California">Baja California</option>
                          <option value="Baja California Sur">Baja California Sur</option>
                          <option value="Campeche">Campeche</option>
                          <option value="Chiapas">Chiapas</option>
                          <option value="Chihuahua">Chihuahua</option>
                          <option value="Coahuila">Coahuila</option>
                          <option value="Colima">Colima</option>
                          <option value="Ciudad de México">Ciudad de México</option>
                          <option value="Durango">Durango</option>
                          <option value="Estado de México">Estado de México</option>
                          <option value="Guanajuato">Guanajuato</option>
                          <option value="Guerrero">Guerrero</option>
                          <option value="Hidalgo">Hidalgo</option>
                          <option value="Jalisco">Jalisco</option>
                          <option value="Michoacán">Michoacán</option>
                          <option value="Morelos">Morelos</option>
                          <option value="Nayarit">Nayarit</option>
                          <option value="Nuevo León">Nuevo León</option>
                          <option value="Oaxaca">Oaxaca</option>
                          <option value="Puebla">Puebla</option>
                          <option value="Querétaro">Querétaro</option>
                          <option value="Quintana Roo">Quintana Roo</option>
                          <option value="San Luis Potosí">San Luis Potosí</option>
                          <option value="Sinaloa">Sinaloa</option>
                          <option value="Sonora">Sonora</option>
                          <option value="Tabasco">Tabasco</option>
                          <option value="Tamaulipas">Tamaulipas</option>
                          <option value="Tlaxcala">Tlaxcala</option>
                          <option value="Veracruz">Veracruz</option>
                          <option value="Yucatán">Yucatán</option>
                          <option value="Zacatecas">Zacatecas</option>
                      </select>
                      </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 ">
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input ng-disabled="showUploadFile" required type="text" class="form-control" id="telefono" placeholder="Telefono" ng-model="telefono">
                          </div>
                    </div>
                  <div class="col-md-6 ">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        
                        <div class="form-group" ng-class="{ 'has-error': userForm.email.$invalid }" >
                          <input ng-disabled="showUploadFile" type="email" class="form-control" name="email"   ng-model="email" required />
                        </div>

                      </div>
                </div>
              </div> 

              <div class="row">
                  <div class="col-md-6 ">
                        <div class="form-group">
                            <label for="foliom">id</label>
                            <input  ng-disabled="showUploadFile" required type="text" class="form-control" id="foliom" placeholder="Id" 
                            ng-model="foliom">
                            <h6>Si no cuentas con id por favor coloca "Invitado"</h6>
                          </div>
                    </div>
                
              </div> 



                
              

              <div class="form-group">
                <div id="alertSell" class="alert alert-success" style="display: none;" role="alert">Boleto asignado</div>
              </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="limpiar();" data-dismiss="modal" >Cerrar</button>
        <button type="button" id="btnSaveTicket" class="btn btn-primary" ng-click="saveTicket();" ng-disabled="userForm.$invalid"  ng-show="!showUploadFile">Guardar</button
        >
        
      </div>
</form>
    </div>
  </div>
</div>





<!-- Editar Titual or Boleto-->
<div class="modal fade"  id="myModalEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 50%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editar</h4>
          </div>
          <table  class="table" >
                    <tbody  my-row nombre=""
                          apellidos=""
                        ciudad=""
                          estado=""
                          telefono=""
                          email=""
                          noOrden=""
                          rango=""
                          avanceRango=""
                          motivadorPlatino=""
                          motivadorPlatinoPremier=""
                          ejecutivo=""
                          chf=""
                          transferencia=""
                          accesoEntrenamiento=""
                          accesoSalaEjecutiva=""
                          observaciones="" >
                            
                    
             </tbody>
        </table>        
            
        </div>
    </div>
</div>

<div id="snackbar">{{msgToast}}</div>