<div class="row" style="max-width:1200px; margin:0 auto;">

  <div class="col-md-12">
      <div class="col-md-6">
        <img style="float: left;" alt="Logo" src="img/banner.png" responsive/>
        
    </div>
    <div class="col-md-6 ">
        <img style="float: right;" alt="Banner" src="img/logo.jpg" />
    </div>
  </div>

  
    
</div>


<div class="row" style="max-width:960px; margin:0 auto;">

  


    <div class="row">
        <div class="row text-center">
          <div class="col-md-12">
              <br/>
                <div class="col-md-3"></div>


                <div class="col-md-6">
                    
                           <form  >
                                  
                                <div class="col-md-12">
                                  
                                  <h3>  <span class="" ><b>Ingresa tu correo:</b></span><h3/>
                                </div>
                                <div class="col-md-12">
                                  
                                 <input type="text" class="form-control" placeholder="tucorreo@ejemplo.com" ng-model="correo" name="correo" id="correo">
                                </div>
                                <br>
                                
                                <button type="button " class="btn btn-default" ng-click="sendMail();">Enviar</button>
                              
                            </form>
                                
                </div>
                <div class="col-md-3"></div>
                            

            
        </div>
        </div>
    </div>
<br/>

    <div class="row">
        <div class="row text-center">
          <div class="col-md-12">
              <br/>
                <div class="col-md-3"></div>


                <div class="col-md-6">
                    
                              <h3>  <span class="" >Tu contraseña es:<b style="    color: blue;">{{tuCorreoEs}}</b></span><h3/>
                                
                </div>
                <div class="col-md-3"></div>
                            

            
        </div>
        </div>
    </div>
    
</div>
