<div class="row" style="max-width:1200px; margin:0 auto;">

  <div class="col-md-12">
      <div class="col-md-6">
        <img style="float: left;" alt="Logo" src="img/banner.png" responsive/>
        
    </div>
    <div class="col-md-6 ">
        <img style="float: right;" alt="Banner" src="img/logo.jpg" />
    </div>
  </div>

  
    
</div>


<div class="row" style="max-width:960px; margin:0 auto;">

   <div class="col-md-3"></div>
<div class="col-md-6">
    <form class="navbar-form navbar-left" >
              
              <div class="form-group">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <input type="text" class="form-control" placeholder="tucorreo@ejemplo.com" ng-model="correo" name="correo" id="correo">
              </div>
              
              <button type="button " class="btn btn-default" ng-click="sendMail();">Enviar</button>
            
            </form>
</div>
<div class="col-md-3"></div>

    <div class="row">
        <div class="row text-center">
          <div class="col-md-12">

            

            
        </div>
        </div>
    </div>
    
</div>
