<header>
  <div id="content-header" class="container">
      <div class="row">
        <div class="col-md-4">
          <img id="logo-bursanet" class="pull-left" src="img/LogoBursanet.png" alt="logo"/>
        </div>
        <div class="col-md-4">
          <div class="contrato">
            <div class="input-group">
              <span class="input-group-addon">Mi Contrato:</span>
              <div id="dd" class="wrapper-dropdown-5" tabindex="1"><b>Actijovenes01 .</b>&nbsp;3087386
                <ul class="dropdown">
                  <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
                  <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3039886</a></li>
                  <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3020986</a></li>
                  <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3054386</a></li>
                  <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3088986</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="header_right">
            <div class="sesion">
              <p>
                Jueves 30 de Septiembre de 2016 <span>|</span> 1:16 p.m.
              </p>
              <p>
                <b>Tu sesi&oacute;n caduca en </b>
                <span> 19:20 min <i class="fa fa-refresh" style="font-size:0.85em !important;"></i></span>
                <button>Cerrar sesi&oacute;n</button>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- Menu header-->
  <div id="menu_wrapper">
    <div class="mwrap">
      <ul class="main-navigation stlvl">
        <li class="stlvl"><a class="stlvl" href="#">MI PORTAFOLIO</a>

          <ul>
            <li><a href="#"> Resumen </a></li>
            <li><a href="#"> Detalle </a></li>
            <li><a href="#"> Ordenes </a></li>
            <li><a href="#"> Movimientos </a></li>
            <li><a href="#"> Estado de cuenta </a></li>
          </ul>
        </li>

        <li class="stlvl"><a class="stlvl" href="#">INVERSIONES</a></li>
        <li class="stlvl"><a class="stlvl" href="#">IDEAS DE INVERSI&Oacute;N </a></li>
        <li class="stlvl"><a class="stlvl" href="#">TRANSFERENCIAS </a></li>
        <!-- <li class="stlvl"><a href="#">CR&Eacute;DITO  </a></li> -->
        <li class="stlvl"><a class="stlvl" href="#">CONFIGURACI&Oacute;N </a></li>
        <li class="stlvl"><a class="stlvl" href="#" class="line">CONTACTO  </a></li>
      </ul>
    </div>
  </div>
  <!--End Menu header-->
</header>

<div class="clearfix"></div>

<!-- Contenedor principal -->
<section id="wrapper" class="container clearfix">

  <div class="row">

    <div class="col-md-6">






      <div class="btn-group">
        <div class="btn btn-text-contrato">Mi contrato</div>

        <div class="btn-group">

          <a href="#" data-target="#" class="btn btn-raised dropdown-toggle dropdown-contratos" data-toggle="dropdown"><b>Actijovenes01 .</b>&nbsp;3087386 &nbsp;<span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
            <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
            <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
            <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
            <li><a href="#"><b>Actijovenes01 .</b>&nbsp;3087386</a></li>
          </ul>
        </div>
      </div>







      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
             <td>Mark</td>
             <td>Otto</td>
             <td>@mdo</td>
           </tr>
          <tr>
          <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
         </tr>
       </tbody>
      </table>
    </div>

    <div class="col-md-6">
        <div>
          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active" style="background:#051C48;"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">COMPRA</a></li>
            <li role="presentation" style="background:#337ab7;"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">VENTA</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">Contenedor compra
              <div class="radio radio-primary">
              <label>
                <input name="optionsRadios" id="optionsRadios1" value="option1" type="radio">
                Option one is this
              </label>
            </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="profile">Contenedor venta</div>
          </div>
        </div>
      </div>
      

  </div>

</section>
<!-- End Contenedor principal -->



<footer>

  <div class="container">

    <div class="row">

      <div class="col-md-4">
        <p>Cont&aacute;ctanos </p>
        <div class="contenedor">
          <div class="conttitle">
            CDMX y Zona Metropolitana
          </div>
          <div class="numeros">
            1103 6699
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="contenedor2">
          <div class="conttitle">
            Del interior de la República
          </div>
          <div class="numeros">
            01800 705 5555
          </div>
        </div>
        <div class="fcont3">
          <p class="flegal">AVISO DE PRIVACIDAD
            <br> TÉRMINOS Y CONDICIONES DE USO LEGALES</p>
          <p class="flegal">Para una óptima visualización se recomienda usar
            <br>Chrome 49+, Firefox 3.x, Safari 5.x.</p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="copywrite">
          <img src="img/LogoActinver.png" alt="actinverlogo">
          <p >©2016 - Derechos reservados</p>
          <p>Corporación Actinver S.A.B. de C.V.</p>
          <p>Guillermo González Camarena 1200</p>
          <p>Centro de CD. Santa Fe C.P. 01210, CDMX</p>
        </div>
      </div>

    </div>

  </div>

</footer>
